.asian-cuisine-page {
    font-family: Arial, sans-serif;
  }
  
  .navbar {
    background-color: lightcoral;
    height: 10vh; /* 1/10th of the viewport height */
    width: 100%;
  }
  
  .content {
    background-color: white;
    padding: 20px;
  }
  
  .title {
    background-color: rgba(190, 190, 190, 0.5) !important;
    color: black;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20%; /* Adjust this value as needed */
  }
  
  .restaurant-name {
    font-size: 22px;
    font-weight: bold;
  }
  
  .restaurant-image {
    display: block;
    max-width: 100%; /* Ensures image does not exceed its container */
    height: auto; /* Maintains aspect ratio */
    margin-bottom: 10px;
  }
  
  .photo-credit {
    color: lightgrey;
    font-style: italic;
  }
  
  .restaurant-description {
    font-weight: bold;
    margin-bottom: 20px; /* Space before the location */
    max-width: 600px; /* Match this width to the image width or as needed */
  }
  
  .restaurant-location {
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .take-me-there-btn {
    background-color: lightcoral;
    border: none;
    border-radius: 20px; /* Gives the button rounded corners */
    color: white;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .take-me-there-btn:hover {
    opacity: 0.9; /* Slight visual feedback on hover */
  }
  