
.footer--container {
    border-top: 15px solid #DBEEB7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #EF5353; 
    color: black;
    text-align: center;
    padding: 20px 0; 
    position: relative;
    width: 100%;
} 

.footer--link--container, .footer--social--icon {
    display: flex;
    justify-content: center; 
    flex-wrap: wrap; 
} 

.footer--items ul, .footer--social--icon ul {
    list-style: none; 
    display: flex; 
    justify-content: center;
    padding: 0;
    width: 100%;
   
  }

.footer--items ul, .social-links ul {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
    display: flex; 
    justify-content: center; 
    flex-wrap: wrap;
    gap: 20px; 
}

.footer--items li, .footer--social--icon li {
    margin: 0 10px; 
  }


.social-links a {
    margin: 0 10px;
    color: black;
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-links a:hover {
    color: #B84040;
}

.footer--items a:hover, .footer--social--icon a:hover {
    color: #B84040; 
}

.footer--items a, .footer--social--icon a, .footer--content--container a {
    color: black; 
    text-decoration: none; 
    cursor: pointer;
}

.social-links a:hover, .footer--items a:hover, .footer--social--icon a:hover {
    color: #B84040;
}



