div {
    padding: 20px;
  }
  
  h1, h2, h4 {
    color: black;
    background-color: white;
  }
  
  p {
    color: black;
    margin: 5px 0;
    background-color: white;
  }
  
  ul {
    list-style-type: none; /* Removes the default list styling */
    padding: 0;
  }
  
  li {
    background-color: #f7fafc; /* A very light gray background */
    border: 1px solid #e2e8f0; /* A light gray border */
    border-radius: 5px; /* Slightly rounded corners */
    padding: 10px;
    margin-bottom: 10px; /* Space between list items */
  }
  
  form {
    margin-top: 20px;
  }
  
  textarea, input[type="number"] {
    display: block;
    width: 100%; /* Full width */
    padding: 10px; /* Comfortable padding */
    margin: 10px 0; /* Space around inputs */
    border: 1px solid #e2e8f0; /* Consistent border */
    border-radius: 5px; /* Slightly rounded corners */
  }
  
  button {
    background-color: #DBEE7B;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px; /* Slightly rounded corners */
    cursor: pointer; /* Pointer on hover */
    display: inline-block; /* Proper spacing */
  }
  
  button:hover {
    background-color: #acbb62; /* A slightly darker shade on hover */
  }
  
  button:hover {
    background-color: #B84040; /* Hover background color */
    color: #E2C85B; /* Hover text color */
  }